<%- include("../partials/headerClient") -%>

    <div class="main-content">
        <br><br>
        <div class="task-title">
            <h1>Ongoing work</h1>
        </div>
        <div class="home-desc">
            <% taskArray.forEach(function(array){ %>
            <div class="home-card">
                <h2 class="home-card-title"><%= array.task %></h2>
                <h3 class="home-card-category">Category : <%= array.domain %></h3>
                <p class="home-card-date">Date Published : <%= array.todate %></p>
                <p class="home-card-number">15 Workers applied!</p>
                <div class="task-btn">
                    <a href="/taskName/<%= array.task %>"><button>View Details</button></a>
                    <form action="/taskPrev" method="post">
                        <button type="submit" name="mark" value="<%= array.task %>" >Mark as Completed!</button> 
                    </form>
                </div>
            </div>
            <% }); %>
        </div><br>
        <div class="task-title">
            <h1>Previous work</h1>
        </div>
        <div class="home-desc">
            <% previousTask.forEach(function(array){ %>
            <div class="home-card">
                <h2 class="home-card-title"><%= array.task %></h2>
                <h3 class="home-card-category">Category : <%= array.domain %></h3>
                <p class="home-card-date">Date Published : <%= array.todate %></p>
                <p class="home-card-number">15 Workers applied!</p>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>