<%- include("../partials/headerWorker") -%>

    <div class="main-content">
        <br><br>
        <div class="task-title">
            <h1><%= taskName %></h1>
            <h2><%= domainName %></h2>
            <p>Date : <%= dateName %></p><br>
            <h2>More Details</h2>
            <p><%= descName %></p>
        </div>
        
    </div>
</body>
</html>